{% extends "base.html" %}
{% block title %}Super Sprinter 3000 - List {% endblock %}
{% block content %}
`
<h1>List</h1>
<a href={{ url_for('add_story') }}>Go to the story page to add a story</a>
<table border="1">
    <thead>
        <tr>
            {% for item in data_header %}
            <th>
                {{ item }}
            </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for item in user_stories %}
        <tr>
            {% for key, value in item.items() %}
            <td>
                {{value}}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}