<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
 
        <thead>
            {% for key, value in user_stories.items() %}
            <tr>
                <!-- <th>Id</th>
                <th>Title</th>
                <th>User Story</th>
                <th>Acceptance Criteria</th>
                <th>Business Value</th>
                <th>Estimation</th>
                <th>Status</th> -->
               
                <th>{{key}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{ value}}
                </td>
            </tr>
            {% endfor %}
           
        </tbody>
      
     </table>
</body>

</html>